<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>683938913863-hm23j39t0mhrlheo03riejmm8fscctcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683938913863-hm23j39t0mhrlheo03riejmm8fscctcg</string>
	<key>API_KEY</key>
	<string>AIzaSyB4k6_ooVE928zGmiiQq15MIS1wBCFgSWc</string>
	<key>GCM_SENDER_ID</key>
	<string>683938913863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mz.TwitteriOS</string>
	<key>PROJECT_ID</key>
	<string>twitterapp-52392</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterapp-52392.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:683938913863:ios:ff7c1c551fb7967c</string>
	<key>DATABASE_URL</key>
	<string>https://twitterapp-52392.firebaseio.com/</string>
</dict>
</plist>
